## __for문__

#### __for문의 기본 구조__

##### __예제를 통해 for문 이해하기__

##### 1.전형적인 for문

In [5]:
test_list = ['one','two','three']

In [6]:
for i in test_list:
    print(i)

one
two
three

#####

##### 2.다양한 for문의 사용

In [10]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

##### 3.for문의 응용

###### 총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오

In [14]:
marks = [90, 25, 67, 45, 80]

#####

#### __for문과 continue문__

In [17]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

#####

#### __for문과 함께 자주 사용하는 range함수__

In [20]:
a = range(10)
a

range(0, 10)

In [21]:
a = range(1,11)
a

range(1, 11)

###### __range함수의 예시 살펴보기__

In [25]:
add = 0
for i in range(1, 11):
    add = add + i
print(add)

55

In [26]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." %(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

######

###### __for와 range를 사용한 구구단__

In [29]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

######

#### __리스트 내포(리스트 안에 for문 포함하는) 사용하기__

In [32]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

######

In [33]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

######

In [36]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2 == 0]
print(result)

[6, 12]

######

In [38]:
result = [x*y for x in range(2,10)
         for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]