## __문자열 만들기__

#### __1. 큰따옴표(")로 양쪽 둘러싸기__

In [4]:
"Hello World"

'Hello World'

#### __2. 작은따옴표(')로 양쪽 둘러싸기__

In [6]:
'Python is fun'

'Python is fun'

#### __3.큰 따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기__

In [9]:
"""Life is too short, You need python"""

'Life is too short, You need python'

#### __4. 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기__

In [11]:
'''Life is too short, You need python'''

'Life is too short, You need python'

#

### __문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때__

#### __1. 문자열에 작은따옴표(') 포함__

In [15]:
food = "Python's favorite food is perl"

In [17]:
food

"Python's favorite food is perl"

In [18]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-18-336a85538234>, line 1)

#### __2. 문자열에 큰따옴표(") 포함시키기__

In [20]:
say = '"Python is very easy." he says.'

In [21]:
say

'"Python is very easy." he says.'

#### __3. 백슬래시("\")를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기__

In [24]:
food = 'Python\'s favorite food is perl'

In [26]:
food

"Python's favorite food is perl"

In [25]:
say = "\"Python is very easy.\"he says."

In [27]:
say

'"Python is very easy."he says.'

#

### __여러 줄인 문자열을 변수에 대입하고 싶을 때__

#### __1. 줄을 바꾸는 이스케이프 코드'\n' 삽입__

In [46]:
multiline = "Life is too short\nYou need python"

In [47]:
multiline

'Life is too short\nYou need python'

In [48]:
print(multiline)

Life is too short
You need python

#### __2. 연속된 작은 따옴표 3개('''), 큰따옴표 3개(""") 사용__

In [43]:
multiline = '''
Life is too short
You need python
'''

In [44]:
multiline

'\nLife is too short\nYou need python\n'

In [45]:
print(multiline)

Life is too short
You need python

In [39]:
multiline = """
Life is too short
You need python
"""

In [40]:
multiline

'\nLife is too short\nYou need python\n'

In [41]:
print(multiline)

Life is too short
You need python

#

### __이스케이프 코드__ 
##### 출력물을 보기좋게

#### __\n__ : 문자열 안에서 줄을 바꿀 때 사용

#### __\t__ : 문자열 사이에 탭 간격을 줄 때 사용

#### __\\__ : 문자 \를 그대로 표현할 때 사용

#### __\'__ : 작은따옴표(')를 그대로 표현할 때 사용

#### __\r__ : 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)

#### __\f__ : 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)

#### __\a__ : 벨 소리(출력할 때 PC스피커에서 '삑'소리가 난다)

#### __\b__ : 백스페이스

#### __\000__ : 널 문자

#

### __문자열 연산하기__

#### __1.문자열 더해서 연결하기(Concatenation)__

In [63]:
head = "Python"

In [64]:
tail = "is fun!"

In [65]:
head + tail

'Pythonis fun!'

##

#### __2.문자열 곱하기__

In [68]:
a = "python"

In [69]:
a * 2

'pythonpython'

###

#### __3. 문자열 곱하기 응용__

##### IDLE 에디터

###

#### __4.문자열 길이 구하기__

In [76]:
a = "Life is too short"

In [77]:
len(a)

17

###

### __문자열 인덱싱과 슬라이싱__

#### __문자열 인덱싱?__

In [83]:
a = "Life is too short, You need Python"

In [85]:
# 문자열의 네 번째 문자 e를 뜻함.
a[3]

'e'

In [86]:
# 파이썬은 0부터 숫자를 센다

##### __a[번호]__ : 문자열 안의 특정한 값을 뽑아내는 역할 : __"인덱싱 한다"__ 라고 함

####

#### __문자열 인덱싱 활용하기__

In [90]:
a = "Life is too short, You need Python"

In [91]:
a[0]

'L'

In [92]:
a[12]

's'

In [93]:
a[-1]

'n'

In [95]:
a[-0]    # 0과 -0은 같음

'L'

In [97]:
a[-2]

'o'

In [98]:
a[-5]

'y'

#### __문자열 슬라이싱이란?__

In [100]:
a = "Life is too short, You need Python"

In [101]:
b = a[0] + a[1] + a[2] + a[3]

In [102]:
b

'Life'

In [103]:
# 더 쉽게 단어를 뽑아낼 수 있도록 : Slicing

In [104]:
a = "Life is too short, You need Python"

In [105]:
a[0:4]

'Life'

##### __a[시작 번호 : 끝 번호]__ - 끝 번호 포함하지 않음

In [107]:
a[0:5]

'Life '

#### 공백 역시 문자와 동일하게 취급된다 ★

In [109]:
a[0:2]

'Li'

In [110]:
a[5:7]

'is'

In [111]:
a[12:17]

'short'

In [112]:
a[19:]

'You need Python'

In [113]:
a[:17]

'Life is too short'

In [115]:
a[:]           # 처음부터 끝까지

'Life is too short, You need Python'

In [117]:
a[19:-7]    # a[19]에서부터 a[-8]까지를 말한다. 이 역시 a[-7]은 포함하지 않는다

'You need'

#

#### __슬라이싱으로 문자열 나누기__

In [119]:
a = "20010331Rainy"

In [120]:
date = a[:8]

In [121]:
weather = a[8:]

In [122]:
date

'20010331'

In [123]:
weather

'Rainy'

###

In [133]:
a = "20010331Rainy"

In [134]:
year = a[:4]

In [135]:
day = a[4:8]

In [136]:
weather = a[8:]

In [137]:
year

'2001'

In [138]:
day

'0331'

In [139]:
weather

'Rainy'

#

#### __Pithon이라는 문자열을 Python으로 바꾸려면?__

In [143]:
a = "Pithon"

In [144]:
a[1]

'i'

In [145]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [156]:
a = "Pithon"

In [157]:
a[:1]

'P'

In [158]:
a[2:]

'thon'

In [159]:
a[:1] + 'y' + a[2:]

'Python'

#

### __문자열 포매팅__

#### __1. 숫자 바로 대입__(%d)

In [163]:
"I eat %d apples." %3

'I eat 3 apples.'

#####  __%d : 문자열 포맷 코드__

#

#### __2. 문자열 바로 대입__(%s)

In [167]:
"I eat %s apples." %"five"

'I eat five apples.'

#

#### __3. 숫자 값을 나타내는 변수로 대입__

In [170]:
number = 3

In [171]:
"I eat %d apples." %number

'I eat 3 apples.'

#

#### __4. 2개 이상의 값 넣기__

In [175]:
number = 10

In [176]:
day = "three"

In [177]:
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

#

#### __문자열 포맷 코드__

#### __%s__ : 문자열(String)
#### __%c__ : 문자 1개(Character)
#### __%d__ : 정수(Integer)
#### __%f__ : 부동 소수(Floating-point)
#### __%o__ : 8진수
#### __%x__ : 16진수
#### __%%__ : Literal % (문자 '%' 자체)

#####

In [183]:
"I have %s apples" %3

'I have 3 apples'

In [184]:
"rate is %s" %3.234

'rate is 3.234'

#####

In [186]:
"Error is %d%." %98

ValueError: incomplete format

##### __%나타내려면 %% 써줘야함__

In [189]:
"Error is %d%%." %98

'Error is 98%.'

#####

#### __포맷 코드와 숫자 함께 사용하기__

#### __1. 정렬과 공백__

In [194]:
"%10s" % "hi"

'        hi'

##### %10s : 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪾으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미

In [198]:
"%-10sjane" % 'hi'

'hi        jane'

##### hi를 왼쪽으로 정렬하고 나머지는 공백으로 채움

#### __2. 소수점 표현하기__

In [201]:
"%0.4f" % 3.42134234

'3.4213'

In [203]:
"%10.4f" % 3.42134234

'    3.4213'

#####

#### __format함수를 사용한 포매팅__

##### 숫자 바로 대입하기

In [207]:
"I eat {0} apples" .format(3)

'I eat 3 apples'

##### 문자열 바로 대입하기

In [210]:
"I eat {0} apples".format("five")

'I eat five apples'

##### 숫자 값을 가진 변수로 대입하기

In [213]:
number = 3

In [214]:
"I eat {0} apples".format(number)

'I eat 3 apples'

##### 2개 이상의 값 넣기

In [216]:
number = 10

In [217]:
day = "three"

In [218]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

##### 이름으로 넣기

In [220]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

##### 인덱스와 이름을 혼용해서 넣기

In [222]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

##### 왼쪽 정렬

In [224]:
"{0:<10}".format("hi")

'hi        '

##### 오른쪽 정렬

In [226]:
"{0:>10}".format("hi")

'        hi'

##### 가운데 정렬 ( ^ : 가운데 정렬 / 빈 공간을 =로 채움 )

In [228]:
"{0:=^10}".format("hi")

'====hi===='

In [231]:
"{0:!<10}".format("hi")         # 왼쪾(<)으로 정렬하고, 빈 공간을 ! 문자로 채움

'hi!!!!!!!!'

##### 소수점 표현하기

In [233]:
y = 3.421234234

In [235]:
"{0:0.4f}".format(y)        # 소수점 4자리까지만 표현하기

'3.4212'

In [236]:
"{0:10.4f}".format(y)

'    3.4212'

##### { 또는 } 문자 표현하기

In [238]:
"{{and}}".format()    #

'{and}'

######

#### __f문자열 포매팅__

In [243]:
name = '홍길동'

In [244]:
age = 30

In [248]:
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [249]:
age = 30

In [250]:
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [251]:
d = {'name':'홍길동', 'age':30}

In [252]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [254]:
f'{"hi":<10}'    # 왼쪽 정렬

'hi        '

In [255]:
f'{"hi":>10}'    # 오른쪽 정렬

'        hi'

In [256]:
f'{"hi":^10}'    # 가운데 정렬

'    hi    '

In [259]:
f'{"hi":=^10}'    # 가운데 정렬하고 =문자로 공백 채우기

'====hi===='

In [261]:
f'{"hi":!<10}'    # 왼쪽 정렬하고 ! 문자로 공백 채우기

'hi!!!!!!!!'

In [262]:
y = 3.42134234

In [263]:
f'{y:0.4f}'    # 소수점 4자리까지만 표현

'3.4213'

In [264]:
f'{y:10.4f}'    # 소수점 4자리까지 표현하고 총 자릿수를 10으로 맞춤

'    3.4213'

In [265]:
f'{{and}}'

'{and}'