### __튜플 자료형__

##### __리스트는 그 값의 생성,삭제,수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.__

In [2]:
t1 = ()

In [3]:
t2 = (1,)

In [5]:
t3 = (1,2,3)

In [6]:
t4 = 1,2,3

In [9]:
t5 = ('a', 'b', ('ab', 'cd'))

######

##### __1. 튜플 요솟값을 삭제하려 할 때__

In [11]:
t1 = (1,2,'a','b')

In [12]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
# 튜플은 요소를 지우는 행위가 지원되지 않는다.

######

##### __2. 튜플 요솟값을 변경하려 할 때__

In [16]:
t1 = (1,2,'a','b')

In [17]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [18]:
# 요솟값 변경도 오류 발생

######

### __튜플 다루기__

##### __1. 인덱싱하기__

In [22]:
t1 = (1,2,'a','b')

In [23]:
t1[0]

1

In [24]:
t1[3]

'b'

######

##### __2. 슬라이싱하기__

In [27]:
t1 = (1,2,'a','b')

In [28]:
t1[1:]

(2, 'a', 'b')

######

##### __3. 튜플 더하기__

In [36]:
t2 = (3,4)

In [32]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

######

##### __4. 튜플 곱하기__

In [37]:
t2 * 3

(3, 4, 3, 4, 3, 4)

######

##### __5. 튜플 길이 구하기__

In [40]:
t1 = (1,2,'a','b')

In [41]:
len(t1)

4

######